build/cmake_install.cmake
build/*
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-d78c2c6b9f4253112216.json
build/.cmake/api/v1/reply/codemodel-v2-9178bde932c2ccc48f67.json
build/.cmake/api/v1/reply/index-2022-03-17T13-33-19-0001.json
build/.cmake/api/v1/reply/target-Catch2-Debug-00d37bbf95d25a1d2132.json
build/.cmake/api/v1/reply/target-Catch2WithMain-Debug-2dad731eaa73f7981b6c.json
build/.cmake/api/v1/reply/target-playlist_test-Debug-45d152f0ccd96897cce1.json
build/.cmake/api/v1/reply/target-playlist-Debug-7e7ca684533a16a76022.json
build/.cmake/api/v1/reply/target-run-Debug-2e183fc572491a5568d0.json
build/.cmake/api/v1/reply/target-test-Debug-d770eed2a3ea26d76048.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/_deps/catch2-build/cmake_install.cmake
build/_deps/catch2-build/Makefile
build/_deps/catch2-build/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/catch2-build/CMakeFiles/progress.marks
build/_deps/catch2-build/src/cmake_install.cmake
build/_deps/catch2-build/src/libCatch2d.a
build/_deps/catch2-build/src/libCatch2Maind.a
build/_deps/catch2-build/src/Makefile
build/_deps/catch2-build/src/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/catch2-build/src/CMakeFiles/progress.marks
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/build.make
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/cmake_clean_target.cmake
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/cmake_clean.cmake
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/CXX.includecache
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/depend.internal
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/depend.make
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/DependInfo.cmake
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/flags.make
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/link.txt
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/progress.make
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_approx.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_assertion_result.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_config.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_message.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_registry_hub.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_session.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_test_case_info.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_test_spec.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_timer.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_tostring.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_totals.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_version.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/benchmark/detail/catch_stats.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/benchmark/internal/catch_benchmark_combined_tu.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/generators/internal/catch_generators_combined_tu.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/interfaces/catch_interfaces_combined_tu.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/interfaces/catch_interfaces_reporter.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_assertion_handler.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_case_insensitive_comparisons.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_clara.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_combined_tu.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_commandline.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_console_colour.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_context.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_debug_console.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_debugger.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_enforce.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_enum_values_registry.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_exception_translator_registry.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_fatal_condition_handler.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_floating_point_helpers.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_list.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_output_redirect.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_random_number_generator.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_random_seed_generation.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_reporter_registry.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_result_type.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_run_context.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_section.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_singletons.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_source_line_info.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_stream.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_string_manip.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_stringref.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_tag_alias_registry.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_test_case_registry_impl.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_test_case_tracker.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_test_registry.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_test_spec_parser.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_textflow.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_wildcard_pattern.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_xmlwriter.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/matchers/catch_matchers_floating_point.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/matchers/catch_matchers_string.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/matchers/catch_matchers_templated.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/matchers/internal/catch_matchers_combined_tu.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_automake.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_combined_tu.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_common_base.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_compact.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_console.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_cumulative_base.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_junit.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_multi.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_sonarqube.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_streaming_base.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_tap.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_teamcity.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_xml.cpp.o
build/_deps/catch2-build/src/CMakeFiles/Catch2WithMain.dir/build.make
build/_deps/catch2-build/src/CMakeFiles/Catch2WithMain.dir/cmake_clean_target.cmake
build/_deps/catch2-build/src/CMakeFiles/Catch2WithMain.dir/cmake_clean.cmake
build/_deps/catch2-build/src/CMakeFiles/Catch2WithMain.dir/CXX.includecache
build/_deps/catch2-build/src/CMakeFiles/Catch2WithMain.dir/depend.internal
build/_deps/catch2-build/src/CMakeFiles/Catch2WithMain.dir/depend.make
build/_deps/catch2-build/src/CMakeFiles/Catch2WithMain.dir/DependInfo.cmake
build/_deps/catch2-build/src/CMakeFiles/Catch2WithMain.dir/flags.make
build/_deps/catch2-build/src/CMakeFiles/Catch2WithMain.dir/link.txt
build/_deps/catch2-build/src/CMakeFiles/Catch2WithMain.dir/progress.make
build/_deps/catch2-build/src/CMakeFiles/Catch2WithMain.dir/catch2/internal/catch_main.cpp.o
build/_deps/catch2-subbuild/cmake_install.cmake
build/_deps/catch2-subbuild/CMakeCache.txt
build/_deps/catch2-subbuild/CMakeLists.txt
build/_deps/catch2-subbuild/Makefile
build/_deps/catch2-subbuild/CMakeFiles/catch2-populate-complete
build/_deps/catch2-subbuild/CMakeFiles/cmake.check_cache
build/_deps/catch2-subbuild/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/catch2-subbuild/CMakeFiles/CMakeOutput.log
build/_deps/catch2-subbuild/CMakeFiles/CMakeRuleHashes.txt
build/_deps/catch2-subbuild/CMakeFiles/Makefile.cmake
build/_deps/catch2-subbuild/CMakeFiles/Makefile2
build/_deps/catch2-subbuild/CMakeFiles/progress.marks
build/_deps/catch2-subbuild/CMakeFiles/TargetDirectories.txt
build/_deps/catch2-subbuild/CMakeFiles/3.16.3/CMakeSystem.cmake
build/_deps/catch2-subbuild/CMakeFiles/catch2-populate.dir/build.make
build/_deps/catch2-subbuild/CMakeFiles/catch2-populate.dir/cmake_clean.cmake
build/_deps/catch2-subbuild/CMakeFiles/catch2-populate.dir/depend.internal
build/_deps/catch2-subbuild/CMakeFiles/catch2-populate.dir/depend.make
build/_deps/catch2-subbuild/CMakeFiles/catch2-populate.dir/DependInfo.cmake
build/_deps/catch2-subbuild/CMakeFiles/catch2-populate.dir/Labels.json
build/_deps/catch2-subbuild/CMakeFiles/catch2-populate.dir/Labels.txt
build/_deps/catch2-subbuild/CMakeFiles/catch2-populate.dir/progress.make
build/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-build
build/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-configure
build/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-done
build/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-download
build/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-gitclone-lastrun.txt
build/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-gitinfo.txt
build/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-install
build/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-mkdir
build/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-patch
build/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-test
build/_deps/catch2-subbuild/catch2-populate-prefix/tmp/catch2-populate-cfgcmd.txt
build/_deps/catch2-subbuild/catch2-populate-prefix/tmp/catch2-populate-cfgcmd.txt.in
build/_deps/catch2-subbuild/catch2-populate-prefix/tmp/catch2-populate-gitclone.cmake
build/_deps/catch2-subbuild/catch2-populate-prefix/tmp/catch2-populate-gitupdate.cmake
build/generated-includes/catch2/catch_user_config.hpp
build/src/cmake_install.cmake
build/src/Makefile
build/src/playlist
build/src/playlist_test
build/src/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/CMakeFiles/progress.marks
build/src/CMakeFiles/playlist.dir/build.make
build/src/CMakeFiles/playlist.dir/cmake_clean.cmake
build/src/CMakeFiles/playlist.dir/CXX.includecache
build/src/CMakeFiles/playlist.dir/depend.internal
build/src/CMakeFiles/playlist.dir/depend.make
build/src/CMakeFiles/playlist.dir/DependInfo.cmake
build/src/CMakeFiles/playlist.dir/flags.make
build/src/CMakeFiles/playlist.dir/link.txt
build/src/CMakeFiles/playlist.dir/progress.make
build/src/CMakeFiles/playlist.dir/sources/main.cpp.o
build/src/CMakeFiles/playlist.dir/sources/playlist.cpp.o
build/src/CMakeFiles/playlist_test.dir/build.make
build/src/CMakeFiles/playlist_test.dir/cmake_clean.cmake
build/src/CMakeFiles/playlist_test.dir/CXX.includecache
build/src/CMakeFiles/playlist_test.dir/depend.internal
build/src/CMakeFiles/playlist_test.dir/depend.make
build/src/CMakeFiles/playlist_test.dir/DependInfo.cmake
build/src/CMakeFiles/playlist_test.dir/flags.make
build/src/CMakeFiles/playlist_test.dir/link.txt
build/src/CMakeFiles/playlist_test.dir/progress.make
build/src/CMakeFiles/playlist_test.dir/sources/playlist.cpp.o
build/src/CMakeFiles/playlist_test.dir/tests/playlist_test.cpp.o
build/src/CMakeFiles/run.dir/build.make
build/src/CMakeFiles/run.dir/cmake_clean.cmake
build/src/CMakeFiles/run.dir/depend.internal
build/src/CMakeFiles/run.dir/depend.make
build/src/CMakeFiles/run.dir/DependInfo.cmake
build/src/CMakeFiles/run.dir/progress.make
build/src/CMakeFiles/test.dir/build.make
build/src/CMakeFiles/test.dir/cmake_clean.cmake
build/src/CMakeFiles/test.dir/depend.internal
build/src/CMakeFiles/test.dir/depend.make
build/src/CMakeFiles/test.dir/DependInfo.cmake
build/src/CMakeFiles/test.dir/progress.make
.vscode/c_cpp_properties.json
.vscode/settings.json
